<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-12 col-lg-12">
            <div class="card card-stats mb-4 mb-xl-12">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                    <span class="h2 font-weight-bold mb-0">350,897</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">Since last month</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0">Menu</h3>
            </div>
            <div class="card-body">
                <div class="row icon-examples">                    
                        <div class="col-lg-3 col-md-6">
                            <button type="button" placement="top-center" [routerLink]="['/livedata']" triggers="hover focus click"   class="btn-icon-clipboard bg-info " >
                            <div>
                                <i class="ni ni-square-pin"></i>
                                <span class="h2 font-weight-bold mb-0 text-white">Live Data</span>
                            </div>
                            </button>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <button type="button" placement="top-center" triggers="hover focus click"  class="btn-icon-clipboard bg-info ">
                            <div>
                                <i class="fas  fa-sensor"></i>
                                <span class="h2 font-weight-bold mb-0 text-white">Sensor Data</span>
                            
                            </div>
                            </button>
                        </div>
                </div>
            </div>
          </div>
        </div>
  </div>