<div class="header bg-gradient-danger pb-4 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
    </div>
  </div>
</div>
<br/>
<div class="container">
      <div class="row">
              <div class="col-xl-6 col-md-6 col-lg-6 col-sm-6 col-6 pb-2 grouping">
                <button class="btn btn-outline-success btn-square-lg" type="button" (click)="live_dataclick()">
                  <span class="btn-inner--icon"><i class="ni ni-square-pin"></i></span>
                  <label class="langDescription">Live Data</label>
                </button>
              </div>
              <div class="col-xl-6 col-md-6 col-lg-6 col-sm-6 col-6 pb-2 grouping">
                <button class="btn btn-outline-success btn-square-lg " type="button" (click)="sensor_dataclick()">
                  <span class="btn-inner--icon"><i class="ni ni-controller"></i></span>
                  <label class="langDescription">Sensorwise Data</label>
                </button>
              </div>
              <div class="col-xl-6 col-md-6 col-lg-6 col-sm-6 col-6 pb-2 grouping">
                <button class="btn btn-outline-success btn-square-lg " type="button">
                  <span class="btn-inner--icon"><i class="ni ni-time-alarm"></i></span>
                  <label class="langDescription">Alert</label>
                </button>
              </div>
              <div class="col-xl-6 col-md-6 col-lg-6 col-sm-6 col-6 pb-2 grouping">
                <button class="btn btn-outline-success btn-square-lg " type="button">
                  <span class="btn-inner--icon"><i class="ni ni-notification-70"></i></span>
                  <label class="langDescription">Notification</label>
                </button>
              </div>
              <div class="col-xl-6 col-md-6 col-lg-6 col-sm-6 col-6 pb-2 grouping">
                <button class="btn btn-outline-success btn-square-lg" type="button" (click)="Reports_dataclick()">
                  <span class="btn-inner--icon"><i class="ni ni-chart-bar-32"></i></span>
                  <label class="langDescription">Reports</label>
                </button>
              </div>
      </div>
  </div>
